[Unit]
Description=nox-auto-sample worker

[Service]
User=pi
WorkingDirectory=/home/pi/no-nox-sampler/worker
ExecStart=python3.7 run.py
Restart=always

[Install]
WantedBy=multi-user.target
